@font-face{
	
	font-family:nighmare;
src: url(font/nightmare.ttf);
}

@font-face{ 
	font-family: Days Later; 
	src: url(font/days.ttf);
}
	
@font-face{font-family: magic;
src: url(font/FEASFBRG.TTF)}